<div class="content-container">
  <app-alert
    [message]="error || signUpMessage || 'test'"
    *ngIf="error || signUpMessage"
  ></app-alert>

  <div class="form-container">
    <div *ngIf="isLoading">
      <app-loading></app-loading>
    </div>
    <form
      #authForm="ngForm"
      (ngSubmit)="onSubmitAuth(authForm)"
      ngNativeValidate
    >
      <h1>{{ isLogin ? "Login" : "Sign up" }}</h1>
      <br />
      <br />
      <span class="subtitle">EMAIL:</span>
      <br />
      <input type="email" name="email" value="" email ngModel required />

      <br />
      <span class="subtitle">PASSWORD:</span>
      <br />
      <input
        type="password"
        name="password"
        value=""
        [minLength]="6"
        required
        ngModel
      />
      <br /><br />
      <button type="submit" class="submit-btn" [disabled]="!authForm.valid">
        {{ isLogin ? "Login" : "Sign up" }}
      </button>
      <span style="color: rgb(143, 143, 143)"> | </span>
      <button type="button" class="submit-btn" (click)="onSwitchMode(authForm)">
        Switch to {{ isLogin ? "Sign up" : "Login" }}
      </button>
    </form>
  </div>
</div>
