html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #121212 !important; /* fallback for old browsers */
  overflow-x: hidden;

  height: 100%;

  /* code to make all text unselectable */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* Disables selector ring */
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none !important;
}

/* input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: none !important;
    border-bottom: solid rgb(143, 143, 143) 1px !important;

    -webkit-box-shadow: 0 0 0 30px #1f1f1f inset !important;
    -webkit-text-fill-color: rgba(255, 255, 255, 0.555) !important;
  } */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: whitesmoke;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}

/* ########################################################## */

h1 {
  color: white;

  font-size: 35px;
  font-weight: 800;
}

.content-container {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-container {
  /* position: absolute; */

  display: flex;
  justify-content: center;
  align-items: center;

  width: 500px;
  height: 440px;

  margin-top: 5px;
  padding-top: 20px;

  border-radius: 12px;

  background: #1f1f1f;
  box-shadow: 0 0 20px 5px rgb(0 0 0 / 20%);
}

.subtitle {
  font-size: 11px;

  color: rgba(177, 177, 177, 0.3);
}

input {
  border: none;
  border-bottom: solid rgb(143, 143, 143) 1px !important;

  margin-bottom: 30px;

  background: none;
  color: rgba(255, 255, 255, 0.555);

  height: 35px;
  width: 300px;
}

textarea:focus,
button:focus,
select:focus,
input:focus {
  outline: none !important;
}

.submit-btn {
  cursor: pointer;
  text-align: center;
  border: none;
  border-radius: 8px;

  box-shadow: none;

  background: #2c2e2d;
  color: rgb(218, 211, 211);
  padding: 8px 16px;

  /* width: 100%; */
}

.submit-btn:hover {
  color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(204, 204, 204, 0.4) 0px 0px 0px 2px,
    rgba(122, 124, 126, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  /* transition: ease-out 0.5s; */
}

input.ng-invalid.ng-touched {
  border-bottom: 1px solid red;
}

@media screen and (max-width: 768px) {
  .form-container {
    box-shadow: none;
  }
}
