<div class="flex-wrapper">
  <div class="flex">
    <div class="items-sold">
      <div class="item computer-sold">
        <span>Total Computers Sold</span
        ><span class="number">{{ totalComputers }}</span>
      </div>
      <div class="item car-sold">
        <span>Total Car Sold</span><span class="number">{{ totalCars }}</span>
      </div>
      <div class="item boat-sold">
        <span>Total Boat Sold</span><span class="number">{{ totalBoats }}</span>
      </div>
    </div>
  </div>

  <div class="flex">
    <div class="center">
      <div id="line-charts"></div>
    </div>
  </div>

  <div class="flex">
    <div class="center">
      <div id="bar-charts"></div>
    </div>
  </div>
</div>
