<!-- <div class="row">
  <div class="col-md-5">
    <app-adduser></app-adduser>
  </div>
  <div class="col-md-5">
    <app-adduser></app-adduser>

    <ng-template #infotext></ng-template>
  </div>
</div> -->
<router-outlet style="width: 100%"></router-outlet>

<nav class="mobile-nav">
  <a routerLink="/dashboard"
    ><i class="fas fa-desktop" id="bloc-icon"></i> <span>Dashboard</span></a
  >
  <!-- <a href="#"><i class="fas fa-info-circle" id="bloc-icon"></i></a> -->
  <a routerLink="/users"
    ><i class="fas fa-user" id="bloc-icon"></i> <span>Users</span></a
  >
</nav>
