<ul class="list-group">
  <li class="list-group-item bg-dark" style="text-align: center; color: white">
    <h5>Profile</h5>
  </li>
  <li class="list-group-item">Name : {{ user?.name }}</li>
  <li class="list-group-item">Phone Number : {{ user?.number }}</li>
  <li class="list-group-item">Address : {{ user?.address }}</li>
  <li class="list-group-item">
    <button
      class="btn btn-outline-dark btn-block"
      data-toggle="modal"
      data-target="#exampleModal"
      (click)="edit(f)"
    >
      Edit User
    </button>
  </li>
  <li class="list-group-item">
    <button class="btn btn-outline-danger btn-block" (click)="delete()">
      Delete Profile : {{ user?.name }}
    </button>
  </li>
</ul>

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit User</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span #closebutton aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onEdit(f)" #f="ngForm">
          <div class="form-group">
            <label for="name" class="col-form-label">Name:</label>
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              ngModel
              #username
            />
          </div>
          <div class="form-group">
            <label for="phnumber" class="col-form-label">Phone Number:</label>
            <input
              type="number"
              class="form-control"
              id="phnumber"
              ngModel
              #usernumber
              name="number"
            />
          </div>
          <div class="form-group">
            <label for="address-text" class="col-form-label">Address:</label>
            <textarea
              class="form-control"
              id="address-text"
              ngModel
              #useraddress
              name="address"
            ></textarea>
          </div>
          <button class="btn btn-outline-dark btn-block" type="submit">
            Update
          </button>
        </form>
      </div>
      <!-- <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Close
          </button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div> -->
    </div>
  </div>
</div>
