/* You can add global styles to this file, and also import other style files */
body {
  background-color: #303030;
}

.bg-dark,
.btn-outline-dark:hover {
  background-color: #1f1f1f !important;
}

app-userdetails {
  display: flex;
  justify-content: center;
  width: 100%;
}

app-content {
  width: 100%;
}

.login-page {
  background-color: #1f1f1f;
}
