/* You can add global styles to this file, and also import other style files */
body {
  background-color: #303030;
}

.bg-dark,
.btn-outline-dark:hover {
  background-color: #1f1f1f !important;
}

/* app-userdetails {
  display: flex;
  justify-content: center;
  width: 100%;
} */

app-content {
  width: 100%;
  height: calc(100vh - 76px);
  overflow: auto;
}

.login-page {
  background-color: #1f1f1f;
}

app-content::-webkit-scrollbar {
  display: none;
  width: 0 !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
