.rowss {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  /* justify-content: space-around; */
  margin-top: 50px;
  /* margin: 50px; */
  gap: 20px;
}

.list-group {
  width: 500px;
}

.list-group-item.active {
  background-color: #25292c !important;
  border-color: #25292c !important;
}
